extends ../layouts/default
block content
    .container.mt-4
      h1 Danh sách câu hỏi TOEIC

      table.table.table-striped
        thead
          tr
            th Mã Chứng Chỉ
            th Mã Đề
            th Câu Hỏi
            th Đáp Án
            th Hình Ảnh
            th Hành động
        tbody
          each question in questions
            tr
              td= question.MaCC
              td= question.TopicN
              td= question.question
              td= question.correctAnswer
              td
                if question.Img
                  img(src=question.Img, alt="Image", width="50")
              td
                a.btn.btn-primary(href=`/questions/${question._id}`) Xem
                a.btn.btn-danger(href=`/questions/delete/${question._id}`) Xóa

      a.btn.btn-success(href="questions/create") Thêm câu hỏi mới