extends ../../layouts/default

block content
  .container.mt-4
    h1.mb-4 Chỉnh sửa câu hỏi

    form(method="POST", action=`/admin/questions/update/${question._id}`, enctype="multipart/form-data")

      .row
        .col-md-6.mb-3
          label.form-label(for="MaCC") Mã câu hỏi:
          input.form-control(type="text", name="MaCC", id="MaCC", value=question.MaCC, required)

        .col-md-6.mb-3
          label.form-label(for="TopicN") Chủ đề (TopicN):
          input.form-control(type="number", name="TopicN", id="TopicN", value=question.TopicN, required)

        .col-md-6.mb-3
          label.form-label(for="part") Part:
          input.form-control(type="number", name="part", id="part", value=question.part, required)

        .col-md-6.mb-3
          label.form-label(for="questionN") Số câu (questionN):
          input.form-control(type="number", name="questionN", id="questionN", value=question.questionN, required)

      .mb-3
        label.form-label(for="question") Câu hỏi:
        textarea.form-control(name="question", id="question", rows="3", required)= question.question

      .row
        .col-md-3.mb-3
          label.form-label(for="optionA") Đáp án A:
          input.form-control(type="text", name="options[]", id="optionA", value=question.options[0], required)

        .col-md-3.mb-3
          label.form-label(for="optionB") Đáp án B:
          input.form-control(type="text", name="options[]", id="optionB", value=question.options[1], required)

        .col-md-3.mb-3
          label.form-label(for="optionC") Đáp án C:
          input.form-control(type="text", name="options[]", id="optionC", value=question.options[2], required)

        .col-md-3.mb-3
          label.form-label(for="optionD") Đáp án D:
          input.form-control(type="text", name="options[]", id="optionD", value=question.options[3], required)

      .mb-3
        label.form-label(for="correctAnswer") Đáp án đúng:
        select.form-select(name="correctAnswer", id="correctAnswer", required)
          option(value="A", selected=question.correctAnswer === question.options[0]) A
          option(value="B", selected=question.correctAnswer === question.options[1]) B
          option(value="C", selected=question.correctAnswer === question.options[2]) C
          option(value="D", selected=question.correctAnswer === question.options[3]) D

      if question.Img
        .mb-3
          label.form-label Ảnh hiện tại:
          br
          img(src=question.Img, width="200", class="img-thumbnail")

      .mb-3
        label.form-label(for="image") Ảnh mới (nếu thay đổi):
        input.form-control(type="file", name="image", id="image")

      button.btn.btn-success(type="submit") 💾 Lưu thay đổi
